body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 30px 40px;
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.2s ease;
}



button {
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    transition: background 0.3s ease;
}



.error {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}
